<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

  <h1 class="h2">Add Instruction</h1>

</div>

<form ng-submit="addInstruction(instruction)" name="instructionForm">

  <div class="form-group">
    <label for="instructionHash">Instruction Hash</label>
    <input class="custom-select" type="text" list="hashes"  ng-model="instruction.instructionHash" name="instructionHash" placeholder="Enter or select an instruction hash..." />
    <datalist id="hashes">
      <option>4595553afdb2382f76ac813a15896228332589b7b3f622b5a36301def5b003d5</option>
    </datalist>
  </div>

  <div class="form-group">
    <label for="sign">Signature</label>
    <input class="custom-select" type="text" list="signatures"  ng-model="instruction.sign" name="sign" placeholder="Enter or select a signature..." />
    <datalist id="signatures">
      <option>R7un9ezCQlSpyxlVNi1+Q9ShSBVDI9AEEveFuJb78hZrVHPO7J/VC9GmqnjYbe0st8UshkJemV2TYasguunlWQ==</option>
    </datalist>
  </div>

  <h4>Instruction Details</h4>

  <div class="form-group">
    <label for="source">Source</label>
    <input class="custom-select" type="text" list="sources"  ng-model="instruction.details.source" name="source" placeholder="Enter or select a source..." />
    <datalist id="sources">
      <option>5ad77a2a5b591824805a5d3dac653f5a54af47ca6b8161883c1c17972b90938c</option>
    </datalist>
  </div>

  <div class="form-group">
    <label for="blockHeight">Block Height</label>
    <input class="custom-select" type="text" list="blockHeights"  ng-model="instruction.details.blockHeight" name="blockHeight" placeholder="Enter or select a block height..." />
    <datalist id="blockHeights">
      <option>1</option>
    </datalist>
  </div>

  <div class="form-group" ng-repeat="field in table.fields track by $index">
    <label> Field 1</label>
    <input input class="custom-select" type='text' ng-model='table.fields[$index].test1' placeholder='Field:'>
  <label> Field 1</label>
    <input input class="custom-select" type='text' ng-model='table.fields[$index].test3' placeholder='Field:'>
      <label> Field 1</label>
    <input input class="custom-select" type='text' ng-model='table.fields[$index].test4' placeholder='Field:'>
  </div>
  <div>
    <button ng-click="addFormField()">Add additional instruction component</button>
  </div>


</form>


<div class="container-fluid">

  {{table}}

  <p><h5>Chain Length:</h5>
  {{result.chainLength}}</p>
  <p><h5>Circle Distance:</h5>
  {{result.circleDistance}}</p>
  <p><h5>Last Block:</h5>
  {{result.lastBlock}}</p>
  <p><h5>Message:</h5>
  {{result.message}}</p>
  <p><h5>Error:</h5>
  {{result.error}}</p>

</div>
