<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

  <h1 class="h2">Edit Agent Settings</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="#!/agentConfig" class="btn btn-sm btn-outline-warning">Cancel</a>
  </div>

</div>

<form ng-submit="setConfig(config)" name="configForm">

    <h3>{{update}}</h3>

    <div class="form-group">
        <label for="OwnerLevel">Owner Level</label>
        <input ng-model="config.level" type="text" class="form-control" id="OwnerLevel" name="OwnerLevel" placeholder="Enter owner level..." maxlength="100">
    </div>

    <div class="form-group">
        <label for="agentIdentifier">Agent ID</label>
        <input ng-model="config.agentIdentifier" type="text" class="form-control" id="agentIdentifier" name="agentIdentifier" placeholder="Enter agentIdentifier..." maxlength="100">
    </div>

    <div class="form-group">
        <label for="owner">Owner</label>
        <input ng-model="config.owner" type="text" class="form-control" id="owner" name="owner" placeholder="Enter owner..." maxlength="100">
    </div>

    <div class="form-group">
        <label for="signedID">Signed ID</label>
        <input ng-model="config.signedIdentifier" type="text" class="form-control" id="signedID" name="signedID" placeholder="Enter signedID..." maxlength="100">
    </div>

    <div class="form-group">
        <label for="agentPrivateKey">Private Key</label>
        <input ng-model="config.agentPrivateKey" type="text" class="form-control" id="agentPrivateKey" name="agentPrivateKey" placeholder="Enter private key..." maxlength="100">
    </div>


    <button type="submit" class="btn btn-success btn-lg btn-block">Save Changes</button>
</form>
